
@model mejorprecio.MVC.Models.UserViewModel

<html>

@section Head {  
	<title>Cambio de Contraseña</title>	
	<meta charset="UTF-8" />	
	<link rel="stylesheet" type="text/css" media="screen" href="~/css/StyleRegisterUser.css" />
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
}

<body>

	<style>
		
		div#container {
			position: relative;
			background: rgba(220, 198, 190, 0.797);
			margin: 5px;
			left: 250px;
			width: 640px;
			height: 300px;
			border: 1px black solid;
			border-radius: 15px;
			box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
			opacity: 0.9;
		}
		
		div#form {
			position: relative;
			right: 50px;
			margin: 20px;
			top: 10px;
			left: 50px;
			width: 500px;
			opacity: 0.9;
		}

	</style>


	<div id="container">
		<div id="form">
		<h2>Password Change:</h2>
		<br>
		<form action="/Users/changePass" method="Post" id="formulario">
			<div class ="form-group">
			<label id="newPass">Password: </label>
			<input type="Password" class="form-control"  name="newPass" placeholder="Enter New Password" required>
			</div>
			<div class ="form-group">
			<label id="repitPass">Repeat Password: </label>
			<input type="Password" class="form-control"  name="repitPass" placeholder="Repeat New Password" required>
			</div>
			<div class ="form-group">
			<button type="submit" class="btn btn-info btn-block">Change</button>
			</div>
		</form>
		</div>
	</div>

</body>
</html>
