<html>
<head>

</head>

<body>

<style>


	div#container {
		position: relative;
		background: rgba(220, 198, 190, 0.797);
		margin: 5px;
		left: 250px;
		width: 640px;
		height: 200px;
		border: 1px black solid;
		border-radius: 15px;
		box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
		opacity: 0.9;
	}
	
	div#Mensaje {
		position: relative;
		right: 50px;
		margin: 20px;
		top: 25px;
		left: 50px;
		width: 500px;
		opacity: 0.9;
	}

</style>

<div id=container>
	<div id="Mensaje">
		<h3>Muchas Gracias por creer en nosotros.</h3>
		<h3>por favor, ingrese a su mail para confirmar su cuenta.</h3> 
	</div>
</div>

</body>


</html>