<configuration>
    <connectionStrings>
      <!-- Javier -->
      <!-- <add name="mejorprecio7" connectionString="Server=DESKTOP-4NO39EP;Database=PruebaBD;Trusted_Connection=True;" /> -->

      <!-- Federico -->
      <!-- <add name="mejorprecio7" connectionString="Server=DESKTOP-TCJSK0N\SQLEXPRESS;Database=mejor_precio;Trusted_Connection=True" /> -->

      <!-- Martin -->
      <!-- <add name="mejorprecio7" connectionString="Server=DESKTOP-SAAA6L1;Database=mejor_precio;Trusted_Connection=True;" />  -->

      <!-- Geraldine -->
      <!-- <add name="mejorprecio7" connectionString="Server=GERMANA-NOTE\SQLEXPRESS;Database=mejor-precio;Trusted_Connection=True;" />-->
    </connectionStrings>
</configuration>